# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Inventory.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Workspace\Godot\Godot Projects\GB_RL\Scripts\UI\Inventory\.idea\.idea.Inventory.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
