# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.1BitRoguelike.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Workspace\Godot\Godot Projects\GB_RL\.idea\.idea.1BitRoguelike\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
